.lightrope {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    z-index: 100;
    margin: -15px 0 0 0;
    padding: 0;
    pointer-events: none;
    width: 100%;
}

.lightrope li {
    position: relative;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 12px;
    height: 28px;
    border-radius: 50%;
    margin: 20px;
    background: #008000;
    animation-name: flash-1;
    animation-duration: 2s;
}

.lightrope li:nth-child(2n+1) {
    background: #ff0000;
    animation-name: flash-2;
    animation-duration: 0.4s;
}

.lightrope li:nth-child(4n+2) {
    background: #ffd700;
    animation-name: flash-3;
    animation-duration: 1.1s;
}

.lightrope li:nth-child(odd) {
    animation-duration: 1.8s;
}

.lightrope li:nth-child(3n) {
    animation-duration: 2.3s;
}

.lightrope li:before {
    content: "";
    position: absolute;
    background: #222;
    width: 10px;
    height: 9px;
    border-radius: 3px;
    top: -4px;
    left: 1px;
}

.lightrope li:after {
    content: "";
    top: -14px;
    left: 9px;
    position: absolute;
    width: 52px;
    height: 18.6666666667px;
    border-bottom: solid #222 2px;
    border-radius: 50%;
}

.lightrope li:last-child:after {
    content: none;
}

.lightrope li:first-child {
    margin-left: -40px;
}

@keyframes flash-1 {

    0%,
    100% {
        background: #00f7a5;
        box-shadow: 0px 4.6666666667px 24px 3px #00f7a5;
    }

    50% {
        background: rgba(0, 247, 165, 0.4);
        box-shadow: 0px 4.6666666667px 12px 1px rgba(0, 247, 165, 0.2);
    }
}

@keyframes flash-2 {

    0%,
    100% {
        background: #ff0000;
        box-shadow: 0px 4.6666666667px 24px 3px #ff0000;
    }

    50% {
        background: rgba(255, 0, 0, 0.4);
        box-shadow: 0px 4.6666666667px 12px 1px rgba(255, 0, 0, 0.2);
    }
}

@keyframes flash-3 {

    0%,
    100% {
        background: #ffd700;
        box-shadow: 0px 4.6666666667px 24px 3px #ffd700;
    }

    50% {
        background: rgba(255, 215, 0, 0.4);
        box-shadow: 0px 4.6666666667px 12px 1px rgba(255, 215, 0, 0.2);
    }
}

@media (max-width: 768px) {
    .lightrope li {
        width: 8px;
        height: 18px;
        margin: 10px;
    }

    .lightrope li:after {
        width: 28px;
        left: 6px;
        top: -10px;
    }
}